---
layout: page
title: Publications
permalink: /publications/
pagenav:
  - title: Software Engineering Radio
    href: "#se-radio"
  - title: Cutter Consortium
    href: "#cutter"
  - title: PADNUG
    href: "#padnug"
categories:
  - title: Software Engineering Radio
    subtitle: The Podcast for Professional Software Developers
    bio: https://www.se-radio.net/team/jeff-doolittle/
    bioTitle: "SE Radio Team  - Jeff Doolittle"
    id: se-radio
    entriesHeader: Episodes
    entries:
      - title: "388 - Bob Kepford on Decoupled CMS"
        url: "https://www.se-radio.net/2019/11/episode-388-bob-kepford-on-decoupled-content-management-systems/"
        date: 2019-11-12
      - title: "396 - Barry O’Reilly on Antifragile Architecture"
        url: "https://www.se-radio.net/2020/01/episode-396-barry-oreilly-on-antifragile-architecture/"
        date: 2020-01-24
      - title: "401 - Jeremy Miller on Waterfall Versus Agile"
        url: "https://www.se-radio.net/2020/03/episode-401-jeremy-miller-on-waterfall-versus-agile/"
        date: 2020-03-03
      - title: "407 - Juval Löwy on Righting Software"
        url: "https://www.se-radio.net/2020/04/episode-407-juval-lowy-on-righting-software/"
        date: 2020-04-24
  - title: Cutter Consortium
    subtitle: Access to the Experts
    bio: https://www.cutter.com/experts/jeffdoolittle
    bioTitle: Cutter Consortium Experts - Jeff Doolittle
    id: cutter
    entriesHeader: Articles
    entries: 
      - title: "Don't Disrupt Agile. Drop It."
        date: "[Forthcoming]"
  - title: PADNUG (Portland Area Dot Net User Group)
    subtitle: The developer user group in the Portland, Oregon metro area
    id: padnug
    entriesHeader: Presentations
    entries:
      - title: "REST Wrecks Microservices!"
        url: https://www.meetup.com/PADNUG/events/jscxtmybchbhb/
        date: 2020-05-05

---

{%- include pagenav.html -%}

<div>

  {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

  {% for category in page.categories %}

  <h2 id="{{category.id}}" style="margin-bottom: .5em">{{category.title}} <span style="float: right; vertical-align: center; font-size: .5em">^ <a href="#top">top</a></span></h2>

  <p><em>{{category.subtitle}}</em></p>

  <div>
    
    {% if category.bio %}
    <p><a href="{{category.bio}}" target="_blank">{{category.bioTitle}}</a></p>
    {% endif %}

    {% if category.entries%}

    <h3>{{category.entriesHeader}}</h3>

    <ul style="list-style: none;">
      {% for entry in category.entries %}
      <li style="margin-bottom: .5em;">
        <div style="display: inline-block; word-wrap: none; width: 12em;">{{entry.date | date: date_format}}</div>
        <div style="display: inline-block; width: 25em;">
          {% if entry.url %}
            <a href="{{entry.url}}" target="_blank">
          {% endif %}
            {{entry.title}}
          {% if entry.url%}
            </a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>

    {% endif %}

  </div>

    {% if category.id != page.categories.last.id %}
    <p><hr /></p>
    {% endif %}

  {% endfor %}

</div>
