{%- include google-ads-main.html -%}

<hr />

<div class="flexgrid">

  <div class="row">

    <div class="column">
      <a href="/rss" target="_blank">
        <div><i class="fas fa-rss"></i></div>
        <div>Subscribe</div>
      </a>
    </div>

    <div class="column">
      <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=jeffdoolittle" target="_blank">
        <div><i class="fab fa-twitter"></i></div>
        <div>Tweet</div>
      </a>
    </div>

    <div class="column">
      <a href="https://twitter.com/jeffdoolittle" target="_blank">
        <div><i class="fab fa-twitter-square"></i></div>
        <div>Follow</div>
      </a>
    </div>

    <div class="column">
      <a href="/archive">
        <div><i class="fas fa-archive"></i></div>
        <div>Archives</div>
      </a>
    </div>

  </div>

</div>

<hr />
