

  <div id="banner-desktop">

    <div style="text-align: center">

      <h1>I help make good software engineers great!</h1>

      <!-- <div style="column-count: 2">
        <h2><a href="mailto:jeff@jeffdoolittle.com">jeff@jeffdoolittle.com</a></h2>
        <h2>(971) 270-0079</h2>
      </div> -->

    </div>
  
    <hr />
  
    <p>&nbsp;</p>
  
  </div>

  <div id="banner-mobile">

      <div style="text-align: center">
  
        <h1>I help make good software engineers great!</h1>
  
        <!-- <div>
          <h2><a href="mailto:jeff@jeffdoolittle.com">jeff@jeffdoolittle.com</a></h2>
          <h2>(971) 270-0079</h2>
        </div> -->
  
      </div>
    
      <hr />
    
      <p>&nbsp;</p>
    
    </div>
  
  