<div style="background-color: #333333;">

  <table class="stripe">

    <tr>
      <th>Level</th>
      <th>Price</th>
    </tr>
    <tr>
      <th>Rock Star!</th>
      <td>
        <a href="https://buy.stripe.com/9AQ3gj9qLcDGaqcbII" target="_blank">$100</a>
      </td>
    </tr>
    <tr>
      <th>Roadie</th>
      <td>
        <a href="https://buy.stripe.com/14kcQTauPcDGgOA3cd" target="_blank">$50</a>
      </td>
    </tr>
    <tr>
      <th>Fan</th>
      <td>
        <a href="https://buy.stripe.com/14k2cfdH11Z29m85km" target="_blank">$35</a>
      </td>
    </tr>
  </table>

</div>