<div>

  {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}

  {% for category in site.data.categories %}
  {% assign category_id = category.id %}

  <h2 id="{{category.id}}" style="margin-bottom: .5em">{{category.title}} <span
      style="float: right; vertical-align: center; font-size: .5em">^ <a href="#top">top</a></span></h2>

  <p><em>{{category.subtitle}}</em></p>

  <div>

    {% if category.bio %}
    <p><a href="{{category.bio}}" target="_blank">{{category.bioTitle}}</a></p>
    {% endif %}

    <h3 id="{{ category.entriesHeader | escape | downcase }}" >{{category.entriesHeader}}</h3>

    {% assign entries = site.posts | where: "category", category_id %}

    <ul class="entries">
      {% for entry in entries %}

      <li>
        <div class="entry-date">{{entry.date | date: date_format}}</div>
        <div class="entry-text">
          {% if entry.url %}
            <a href="{{entry.url}}">
          {% endif %}
            {{entry.title | escape }}
          {% if entry.url%}
            </a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>

  {% if category.id != site.data.categories.last.id %}
  <p>
    <hr />
  </p>
  {% endif %}

  {% endfor %}

</div>
