{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

<div class="highlights-grid">
  {% for category in site.data.categories %}
  {% if category.highlight %}
  {% assign post = site.posts | where: "category", category.id | first %}
    <a class="highlight-card" href="{{ post.url }}">
      <span class="highlight-card__category">{{ category.title }}</span>
      <span class="highlight-card__title">{{ post.title }}</span>
      <span class="highlight-card__date">{{ post.date | date: date_format }}</span>
    </a>
  {% endif %}
  {% endfor %}
</div>

