{%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

<p>Latest in...</p>

<table id="highlights">
  {% for category in site.data.categories %}
  {% if category.highlight %}
  {% assign post = site.posts | where: "category", category.id | first %}
    <tr>
      <td><a href="/publications/#{{ category.id }}">{{ category.title }}</a></td>
      <td><a href="{{ post.url }}">{{ post.title }}</a></td>
      <td>{{ post.date | date: date_format }}</td>
    </tr>
  {% endif %}
  {% endfor %}
</table>


