<div class="post-grid">
  {%- for post in posts -%}
  {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
  <div class="post-card">
    {% if post.image %}
    <a href="{{ post.url | relative_url }}" class="post-card__img-link">
      <img class="post-card__img" src="{{ post.image }}" alt="{{ post.image_alt }}" loading="lazy" />
    </a>
    {% endif %}
    <div class="post-card__body">
      <span class="post-card__meta">{{ post.date | date: date_format }}</span>
      <h3 class="post-card__title">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h3>
      <p class="post-card__excerpt">{{ post.excerpt | strip_html | truncate: 160 }}</p>
      <a class="post-card__link" href="{{ post.url | relative_url }}">Continue reading</a>
    </div>
  </div>
  {%- endfor -%}
</div>
