---
import Page from '../../layouts/Page.astro';
---
<Page title="Factually">
  <h1>Factually</h1>
  <p>Find out more about <a href="/factually/historical-modeling">Historical Modeling with Factually</a>.</p>
  <p>More to come soon!</p>
</Page>
