---
import Page from '../layouts/Page.astro';
---
<Page title="Appointment Confirmation">
  <h1>Appointment Confirmation</h1>
  <p>All set!</p>
  <p>You will receive an additional appointment confirmation in your email box. I look forward to connecting with you.</p>
</Page>
