---
export const prerender = true;
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=https://calendly.com/jeffdoolittle" />
    <link rel="canonical" href="https://calendly.com/jeffdoolittle" />
  </head>
  <body>
    <p>Redirecting to <a href="https://calendly.com/jeffdoolittle">https://calendly.com/jeffdoolittle</a></p>
    <script is:inline>window.location.href = 'https://calendly.com/jeffdoolittle'</script>
  </body>
</html>
