---
export const prerender = true;
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/mentoring/" />
    <link rel="canonical" href="/mentoring/" />
  </head>
  <body>
    <p>Redirecting to <a href="/mentoring/">/mentoring/</a></p>
    <script is:inline>window.location.href = '/mentoring/'</script>
  </body>
</html>
