---
import Page from '../layouts/Page.astro';
---
<Page title="Stock Photos">
  <h1>Stock Photos</h1>

  <img src="/assets/stock/timothy-ayegbede-MCrBXiMskNE-unsplash.jpg" alt="man smiling" style="max-width: 100%;" />
  <span>
    Photo by <a href="https://unsplash.com/@just_timothy_?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Timothy Ayegbede</a> on <a href="https://unsplash.com/s/photos/smile?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
  </span>

  <img src="/assets/stock/jake-nackos-IF9TK5Uy-KI-unsplash.jpg" alt="woman smiling" style="max-width: 100%;" />
  <span>
    Photo by <a href="https://unsplash.com/@jakenackos?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Jake Nackos</a> on <a href="https://unsplash.com/s/photos/smile?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
  </span>

  <img src="/assets/stock/road-trip-with-raj-_cbKur5I60A-unsplash.jpg" alt="despairing man" style="max-width: 100%;" />
  <span>
    Photo by <a href="https://unsplash.com/@roadtripwithraj?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Road Trip with Raj</a> on <a href="https://unsplash.com/s/photos/despair?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
  </span>

  <img src="/assets/stock/hailey-wright-N6K_HC2VRb4-unsplash.jpg" alt="despairing woman" style="max-width: 100%;" />
  <span>
    Photo by <a href="https://unsplash.com/@haileymwright?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hailey wright</a> on <a href="https://unsplash.com/s/photos/despair?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
  </span>
</Page>
