---
import Page from '../layouts/Page.astro';
---
<Page title="Payment Success!">
  <h1>Payment Success!</h1>
  <p>Your payment was successful! I'll be in touch soon to set up our first meeting time.</p>
</Page>
