---
import Page from '../../../layouts/Page.astro';
---
<Page title="Historical Modeling with Factually" showRecents={false}>
  <h1>Historical Modeling with Factually</h1>
  <iframe src="/factually/historical-modeling/content.html" width="100%" height="1024" title="Historical Modeling"></iframe>
</Page>
