---
import endorsementsData from '../data/endorsements';

const { endorsements } = endorsementsData as { endorsements: Array<{ reference: string; tagLine: string; content: string }> };
---

{endorsements.map(e => (
  <>
    <h3>{e.reference}</h3>
    <blockquote><h4 style="color: #c06f39">{e.tagLine}</h4></blockquote>
    <div set:html={e.content} />
  </>
))}
