---
layout: default
---

<div class="home">
  
{%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Post Archive" }}</h2>
  <div>
      {%- include google-ads-main.html -%}
  </div>    
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <hr />
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        <p><em>{{ post.excerpt }}</em></p>
        <a href="{{ post.url | relative_url }}">
          <p><img src="/assets/{{ post.img.file }}" alt="{{ post.img.alt }}" /></p>
          <p>Continue reading...</p>
        </a>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">Subscribe <a target="_blank" href="/rss">via RSS</a></p>
  {%- endif -%}

  <div>
      {%- include google-ads-main.html -%}
  </div>    

</div>