---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- include banner.html -%}

  {%- include google-ads-main.html -%}

  <h2 id="recent" class="post-list-heading">Software Architect and Transformational Leader</h2>

  {%- include highlights.html -%}

  {%- if site.posts.size > 0 -%}
  {% assign posts = '' | split: '' %}
  {% for post in site.posts limit: 25 %}
      {% assign posts = posts | push: post %}
  {% endfor %}
  {%- include posts.html posts=posts-%}
  {%- endif -%}

  {% include action_footer.html %}

</div>
