---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- include banner.html -%}

  {%- include highlights.html -%}

  {%- include google-ads-main.html -%}

  <hr />

  {%- if site.posts.size > 0 -%}
  {% assign posts = '' | split: '' %}
  {% for post in site.posts limit: 10 %}
      {% assign posts = posts | push: post %}
  {% endfor %}
  <h2 id="recent" class="post-list-heading">Recent Posts</h2>
  {%- include posts.html posts=posts-%}
  {%- endif -%}

  {% include action_footer.html %}

</div>
