---
layout: default
---

{%- include banner.html -%}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}

    <p><hr /></p>
    
    <h2>Recent Posts</h2>
    
    {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

    <div class="blog-index">  
      <ul style="list-style: none;">

        {%- for post in site.posts limit: 3 -%}
        <li style="margin-bottom: .5em;">
          <div style="display: inline-block; word-wrap: none; width: 15em;">{{post.date | date: date_format}}</div>
          <div style="display: inline-block; word-wrap: none; width: 35em;">
              <a href="{{ post.url | absolute_url }}" target="_blank">
              {{ post.title }}
              </a>
          </div>
        </li>      
        {%- endfor -%}
      </ul>
  </div>

</div>

</article>
