---
layout: default
---

{% if page.show_banner %}
{%- include banner.html -%}
{% else %}
<div id="banner"></div>
{% endif %}

<article class="post">

  {% if page.show_title %}
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>
  {% endif %}

  <div class="post-content">

    {{ content }}

    {% if page.show_recents %}
    <hr />

    <h2>Recent Posts</h2>
    {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

    <div class="blog-index">
      <ul class="entries">

        {%- for post in site.posts limit: 3 -%}
        <li>
          <div class="entry-date">{{post.date | date: date_format}}</div>
          <div class="entry-text">
            <a href="{{ post.url | absolute_url }}">
              {{ post.title }}
            </a>
          </div>
        </li>
        {%- endfor -%}
      </ul>
    </div>

    {% endif %}

  </div>

</article>