---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>

    <p class="post-date-header">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    <p><em>{{ page.excerpt | escape }}</em></p>
    <p>
      <a href="{{page.image}}" style="display: block; margin-left: auto; margin-right: auto;">
        <img src="{{page.image}}" alt="{{page.image_alt}}" />
      </a>
    </p>

    {{ content }}

    {% include action_footer.html %}
  </div>


  <div class="post-navigation">
    <p><b>Looking for more?</b></p>
    <div class="row">
      <div class="column previous">
        {% if page.previous.url %}
        <a href="{{page.previous.url}}"><i class="fa fa-arrow-left"></i> {{page.previous.title}}</a>
        {% endif %}
      </div>
      <div class="column delimiter">
        {% if page.previous.url and page.next.url %}
        <i class="fa fa-star"></i>
        {%- endif -%}
      </div>
      <div class="column next">
        {% if page.next.url %}
        <a href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
