---
export const prerender = true;
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/2020/05/22/dont-disrupt-agile-drop-it/" />
    <link rel="canonical" href="/2020/05/22/dont-disrupt-agile-drop-it/" />
  </head>
  <body>
    <p>Redirecting to <a href="/2020/05/22/dont-disrupt-agile-drop-it/">/2020/05/22/dont-disrupt-agile-drop-it/</a></p>
    <script is:inline>window.location.href = '/2020/05/22/dont-disrupt-agile-drop-it/'</script>
  </body>
</html>
